.head {
	color: black;
	font-size: 40px;
}

.menu__link {
	color: navy;
	font-size: 25px;
}

.icon {
    cursor: pointer;
    display: none;
    height: 35px;
    width: 45px;
    position: relative;
}

.icon__line {
	background: blue;
    border-radius: 9px;
    display: block;
    left: 0;
    height: 8px;
    width: 100%;
    position: absolute;
    opacity: 1;
}

.icon__line:nth-child(1) {
    top: 0px;
}

.icon__line:nth-child(2), .icon__line:nth-child(3) {
    top: 13px;
}

.icon__line:nth-child(4) {
    top: 26px;
}

@media (max-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */
 .head {
 	font-size: 20px;
  }

  .menu__link {
  	font-size: 5px;
  }

  .icon {
  	display: inline-block;
    height: 20px;
    width: 30px;
  }

  .icon__line {
    height: 5px;
  }

  .icon__line:nth-child(1) {
    top: 0px;
  }

  .icon__line:nth-child(2), .icon__line:nth-child(3) {
    top: 10px;
  }

  .icon__line:nth-child(4) {
    top: 20px;
  }

  .menu {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    z-index: 1000;
    overflow: auto;
  }
 }

@media (min-width:320px) and (max-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
 .head {
  font-size: 25px;
  }

  .menu__link {
   font-size: 10px;
  }

  .icon{
   display: inline-block;
   height: 25px;
   width: 35px;
  }

  .icon__line {
    height: 6px;
  }

  .icon__line:nth-child(1) {
    top: 0px;
  }

  .icon__line:nth-child(2), .icon__line:nth-child(3) {
    top: 11px;
  }

  .icon__line:nth-child(4) {
    top: 22px;
  }

  .menu {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    z-index: 1000;
    overflow: auto;
  }
 }

@media (min-width:481px) and (max-width:641px) {
 .head {
  font-size: 30px;
  }

  .menu__link {
   font-size: 15px;
  }

  .icon{
    display: inline-block;
    height: 30px;
    width: 40px;
  }

  .icon__line {
    height: 7px;
  }

  .icon__line:nth-child(1) {
    top: 0px;
  }

  .icon__line:nth-child(2), .icon__line:nth-child(3) {
    top: 12px;
  }

  .icon__line:nth-child(4) {
    top: 24px;
    }

  .menu {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    z-index: 1000;
    overflow: auto;
  }
 }

@media (min-width: 641px) and (max-width: 961px) {
.head {
    font-size: 35px;
  }
}

 .menu__link {
   font-size: 20px;
 }

@media (min-width:1025px) {
  .head {
    font-size: 40px;
  }

  .menu__link {
   font-size: 25px;
  }
 }
